@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-image: url("./images/bg.jpeg");
    background-position: center;
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100vw;

}

.inner-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color: rgb(255, 255, 255);

}

.content img {
    width: 45%;
}

.content h1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
}

.content h3{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
    color: rgb(122, 118, 118);
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #292E3F;
    height: 500px;
    width: 350px;
}

